body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fefefe;
	width: 650px;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
}
th {
    background-color: #4CAF50;
    color: white;
}
th, td {
    border-bottom: 1px solid #ddd;
	padding-right: 8px;
	padding-left: 8px;
}
